.homepage--wrapper {
  height: 100dvh;
  width: 100dvw;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/space-background.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-chat--wrapper {
  opacity: 70%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 90dvw;
  height: 90dvh;
  overflow: hidden;
  border-radius: 2rem;
}
