.homepage--wrapper {
  height: 100dvh;
  width: 100dvw;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-chat--wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 75dvw;
  height: 80dvh;
  overflow: hidden;
  border-radius: 2rem;
}
